.containerLoad {
  width: 100%;
  height: 100%;
}

.containerbuscadorLoad {
  display: flex;
  align-items: center;
  margin-right: 2rem;
  gap: 0.5rem;
}

.headerLoad {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 20%;
  align-items: center;
}

.titleLoad {
  width: 20%;
  height: 4rem;
  margin-left: 1.5rem;
  background-color: rgb(206, 206, 206);
  border-radius: 2rem;
}

.buscadorLoad {
  width: 20rem;
  height: 1.5rem;
  padding: 1rem;
  margin-right: 2rem;
  border-radius: 0.6rem;
  border: 2px solid var(--font-ligth);
  background-color: rgb(206, 206, 206);
  border: none;
}

.buttonLoad {
  width: 6rem;
  height: 3rem;
  background-color: rgb(206, 206, 206);
  border: none;
  outline: 0;
  border-radius: 1rem;
}

.cardLoad {
  background-color: rgb(206, 206, 206);
  margin: 1rem;
  padding: 0.7rem;
  width: 23rem;
  height: 10rem;
  border-radius: 1rem;
}

.containercardLoad {
  height: 80%;
  width: 100%;
  display: flex;
  padding: 1rem;
  flex-wrap: wrap;
  justify-content: space-around;
}
