.navMobile {
  height: 10%;
  width: 100%;
  background-color: rgb(51, 51, 51);
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 80;
}
.navMobile i {
  font-size: 40px;
  position: relative;
  color: var(--accent-color);
  transition: all 0.7s ease-in-out;
}

.more {
  width: 6rem;
  height: 100%;
  display: flex;
  justify-content: center;
}
.round {
  width: 5rem;
  height: 5rem;
  background-color: rgb(51, 51, 51);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  bottom: 20px;
  border-radius: 50%;
}
.round::after {
  content: '';
  position: absolute;
  width: 4.5rem;
  height: 4.5rem;
  background-color: var(--accent-color);
  border-radius: 50%;
  z-index: 101;
}

.efecct {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 90;
  transition: all 0.7s ease-in-out;
}

.more i {
  font-size: 60px;
  color: rgb(51, 51, 51);
  z-index: 102;
}

.clicked i {
  color: rgb(101, 3, 228);
  transition: all 0.7s ease-in-out;
  z-index: 90;
}

.clicked {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  transform: scale(1.2) translateY(-5px);

  z-index: 90;
  background-color: rgb(51, 51, 51);
  border-radius: 40%;
  transition: all 0.7s ease-in-out;
}

.noClicked {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  transform: scale(1) translateY(0);
  z-index: 90;
  border-radius: none;
  transition: all 0.7s ease-in-out;
}
