.initial {
  background-color: #00000023;
  height: 0.4rem;
  width: 15%;
  border-radius: 1rem 0 0 1rem;
}

.initialChecked {
  background-color: #00ac7c;
  height: 0.4rem;
  width: 15%;
  border-radius: 1rem 0 0 1rem;
}

.center {
  background-color: #00000023;
  height: 0.4rem;
  width: 15%;
  margin-left: 0.5rem;
}

.centerChecked {
  background-color: #00ac7c;
  height: 0.4rem;
  width: 15%;
  margin-left: 0.5rem;
}

.final {
  background-color: #00000023;
  height: 0.4rem;
  width: 15%;
  border-radius: 0rem 1rem 1rem 0rem;
  margin-left: 0.5rem;
}

.finalChecked {
  background-color: #00ac7c;
  height: 0.4rem;
  width: 15%;
  border-radius: 0rem 1rem 1rem 0rem;
  margin-left: 0.5rem;
}
