.layout {
  width: 100%;
  height: 100%;
  display: flex;
}

.dashboard {
  margin: 1rem 1.5rem 1rem 1.5rem;
  width: calc(85% - 3rem);
  height: calc(100% - 2rem);
}

@media (max-width: 900px) {
  .layout {
    display: initial;
  }
}
