/* container general*/
.compras {
  margin: 1rem 1.5rem 1rem 1.5rem;
  width: calc(85% - 3rem);
  height: calc(100% - 2rem);
  border-radius: var(--border-radius-primary);
  background-color: var(--secundary-color);
}

.container {
  width: 100%;
  height: 100%;
  padding: 1.5rem;
}
/*parte superior*/

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 10%;
  gap: 1rem;
}

.title p {
  font-size: var(--title-font-size);
}

.botonera {
  display: flex;
  gap: 2rem;
}

/* cuerpo de Requisiones */
.containerCards {
  padding-top: 1rem;
  padding-bottom: 4rem;
  height: 90%;
  width: 100%;
  overflow: scroll;
}

@media (max-width: 900px) {
  .compras {
    height: 100%;
    width: 100%;
    margin: 0;
    padding-bottom: 5rem;
    border-radius: 0;
  }
  .container {
    padding: 0;
  }

  .header {
    flex-direction: column;
    padding: 0;
    justify-content: flex-start;
    height: 20%;
  }
  .title {
    padding-top: 0.5rem;
    display: flex;
    align-items: center;
  }
  .title p {
    width: 100%;
    text-align: center;
  }
  .containerCards {
    height: 90%;
  }
}
