@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
:root {
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;

  /*variables de estilos globales*/
  --accent-color: #f2c709;
  --accent-hover-color: #f8c23a;
  --font-ligth: rgb(224, 224, 224);
  --font-dark: #5f5f5f;
  --content-color: #ffff;
  --card-color: #2f4858;
  --in-placeholder-color: #b6bcbe98;
  --input-bg-color: #f6f7f8;
  --global-bg: #e3e8ea;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Lato, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
    'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

html,
body {
  font-family: var(--font-mono);
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  background-color: var(--global-bg);
  display: flex;
  justify-content: center;
  align-items: center;
}
a {
  color: inherit;
  text-decoration: none;
}

.contSec {
  height: 100%;
  width: 100%;
  display: flex;
  border-radius: 1rem;
}

.app {
  width: 85%;
  height: 100%;
}
