.container {
  height: max-content;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  padding-bottom: 2rem;
}

.filtrosContainer {
  width: 100%;
  height: 3rem;
  display: flex;
  justify-content: space-between;
  margin-left: 1rem;
  margin-right: 1rem;
}

.searchContainer {
  width: 40%;
  height: 3rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  transition: all 0.5s ease-in-out;
}
.mas {
  margin-left: 3rem;
}

.cardsContainer {
  margin-top: 0;
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.noCoincidencia {
  margin-top: 2rem;
}

@media (max-width: 900px) {
  .filtrosContainer {
    justify-content: space-around;
  }
  .searchContainer {
    width: 80%;
    transition: all 0.5s ease-in-out;
  }
  .mas {
    margin-left: 0rem;
  }
}
