/*
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap'); */

:root {
  /*variables de estilos globales*/
  --accent-color: #fccf5d;
  --accent-hover-color: #ffd000;
  --font-ligth: rgb(104, 104, 104);
  --font-dark: #5f5f5f7a;
  --content-color: #ffff;
  --card-color: #d3d3d3;
  --in-placeholder-color: #73737354;
  --in-placeholder-color-secundary: #00000069;
  --input-bg-color: #f6f7f8;
  --global-bg: #ebebeb;
  --title-font-size: 2.5rem;

  --primary-color: #ffff;
  --secundary-color: #f0f0f0;
  --font-color: #737373;
  --border-radius-primary: 30px;
  --box-shadow: -15px 15px 40px 0 #00000025;
  --delete-color: #a70000;

  --partida: 8%;
  --noparte: 12%;
  --descripcion: 30%;
  --unidad: 8%;
  --cantidad: 10%;
  --unitario: 12%;
  --final: 12%;
  --modos: 8%;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: var(--font-lato);
}

html,
body {
  font-family: var(--font-lato);
  color: var(--font-color);
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  background-color: var(--primary-color);
  display: flex;
  justify-content: center;
  align-items: center;
}
a {
  color: inherit;
}

a:link,
a:visited,
a:active {
  text-decoration: none;
}

main {
  height: 100%;
  width: 100%;
}

.button {
  color: var(--font-color);
  font-weight: 900;
  padding: 0.5rem 1.3rem 0.5rem 1.3rem;
  background-color: var(--accent-color);
  border: none;
  outline: 0;
  border-radius: 1rem;
  transition: all 0.3s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button p {
  font-size: 14px;
}

.button:hover {
  transform: scale(1.05);
  background-color: var(--accent-hover-color);
}

@keyframes fade {
  from {
    opacity: 0;
    transform: translateY(-50%);
  }

  to {
    opacity: 1;
    transform: translateY(0%);
  }
}

@media (max-width: 900px) {
  body {
    background-color: var(--secundary-color);
  }
}
