.container {
  width: 100%;
  height: auto;
  background-color: var(--primary-color);
  border-radius: 2rem;
  display: flex;
  align-items: center;
  overflow: hidden;
  color: var(--font-color);
  padding: 0.2rem;
}

.container i:first-child {
  margin-left: 1rem;
  font-size: 20px;
  width: 15%;
}

.container i:last-child {
  margin-right: 1rem;
  width: 15%;
}
.container input {
  border: none;
  padding: 0.5rem;
  width: 70%;
  color: var(--font-color);
}

.container input:focus {
  border: none;
  outline: none;
}
