.navbar{
    width: 15%;
    height: 100%;
    background-color: var(--in-color);
    border-radius: 0 0.5rem 0.5rem 0;
}

.user{
    background-color: rgb(229, 237, 246);
    height: 25%;
    width: 100%;
    border-radius: 0 0.5rem 0.5rem 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}

.user button { 
    width: 5rem;
    padding: 0.4rem;
    border: none;
    background-color: var(--accent-color);
    margin-top: 0.5rem;
    border-radius: 0.4rem;
    color:var(--font-dark);
    font-weight: 900;
}

.img{
    background-color: var(--in-color);
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(145, 144, 144, 0.486);
}

.navbar li {
    list-style: none;
    width: 100%;
    height: 70%;   
    padding: 1rem;
    font-weight: 900;
    color: var(--font-ligth);
}

.navbar li ul{
    margin-top: 0.5rem;
}

.profile {
    width: 50%;
    height: 50%;
}