.global {
  width: 85%;
  height: 100%;
  background-color: rgba(165, 165, 165, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 15%;
  backdrop-filter: blur(10px);
  z-index: 10;
}

.container {
  width: 32rem;
  height: auto;
  background-color: #ffffffbd;
  z-index: 100;
  border-radius: 3rem;
  box-shadow: var(--box-shadow);
  padding: 1.5rem 2rem 2rem 2rem;
}

/* titulos y cancalar */

.title {
  display: flex;
  justify-content: space-between;
}

.title p {
  font-size: 18px;
  font-weight: 900;
  letter-spacing: 3px;
}

.cancelar {
  color: var(--font-ligth);
  height: auto;
  border: none;
  font-weight: 900;
  border-radius: 1rem;
  transition: all 0.5s ease-in-out;
}
.cancelar:hover {
  transform: scale(1.1);
}

.cancelar i {
  font-size: 30px;
  color: var(--delete-color);
  margin: auto;
}

/* subtitulos */
.subtitle {
  margin-top: 0.5rem;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: 2px;
}

.container label {
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 0.4rem;
  margin-left: 0.5rem;
}
.container input {
  height: 1.5rem;
  border: none;
  background-color: rgba(78, 78, 78, 0.164);
  border-radius: 5px;
  padding: 1.1rem;
  font-size: 14px;
  color: var(--font-color);
}
.container select {
  height: 2.1rem;
  border: none;
  background-color: rgba(78, 78, 78, 0.164);
  border-radius: 5px;
  padding-left: 0.5rem;
  font-size: 14px;
  color: var(--font-color);
}

.container textarea {
  resize: vertical;
  padding: 1rem;
  height: auto;
  background-color: rgba(78, 78, 78, 0.164);
  color: var(--font-color);
  border: none;
  font-size: 14px;
  border-radius: 5px;
}

/*Secction*/
.section {
  display: flex;
  justify-content: space-around;
  margin-top: 1.5rem;
}

.selectSection {
  font-weight: 900;
  border-bottom: 3px solid var(--accent-color);
}

/* Proveedor  */
.proveedor {
  display: flex;
  flex-direction: column;
}

.proveedor form {
  display: flex;
  flex-wrap: wrap;
  margin-top: 1rem;
  gap: 20%;
}
.proveedor form div:first-child {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 0.5rem;
}

.proveedor form div:nth-child(2n) {
  display: flex;
  flex-direction: column;
  width: 40%;
}

.proveedor form div:nth-child(3n) {
  display: flex;
  flex-direction: column;
  width: 40%;
}

/* Datos bancarios */
.bancario {
  display: flex;
  flex-direction: column;
}

.bancario form {
  display: flex;
  flex-wrap: wrap;
  margin-top: 1rem;
  gap: 10%;
}

.clabe {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin-bottom: 0.5rem;
}

.slidercontainer {
  width: 20%;
}

.banco {
  display: flex;
  flex-direction: column;
  width: 45%;
}

.cuenta {
  display: flex;
  flex-direction: column;
  width: 45%;
}

/* Contacto */

.contacto {
  display: flex;
  flex-direction: column;
}

.contacto form {
  display: flex;
  flex-wrap: wrap;
  margin-top: 1rem;
  gap: 10%;
}

.nombrecontacto {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 0.5rem;
}

.direccion {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 1rem;
}

.correo {
  display: flex;
  flex-direction: column;
  width: 45%;
}

.telefono {
  display: flex;
  flex-direction: column;
  width: 45%;
}

/* Botones */

.button {
  background-color: var(--accent-color);
  height: auto;
  border: none;
  font-weight: 900;
  padding: 0.5rem 1rem 0.5rem 1rem;
  color: var(--font-color);
  border-radius: 1rem;
}

.buttons {
  width: 100%;
  height: 4rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 1rem;
}

@media (max-width: 900px) {
  .global {
    width: 100%;
    height: 100%;
    left: 0;
  }

  .container {
    width: 100%;
    height: 80;
    left: 0;
    top: 0;
  }

  .container input {
    font-size: 16px;
  }
  .container label {
    font-size: 16px;
  }
  .container select {
    font-size: 16px;
  }
  .container textarea {
    font-size: 16px;
  }
}
