.containerLogin {
    
    width: 70%;
    height: 30rem;
    padding: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;  
    background-color: #ffffff;
    border-radius: 0.5rem;
    color: rgb(167, 167, 167);
    box-shadow: -19px 18px 22px 0px rgba(0,0,0,0.1);
    
}

@media (min-width: 857px) {
    .containerLogin{
        width: 37.5rem;
    }
}

.form{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 0.5rem;
}

.input{
    margin-top: 0.3rem;
    padding: 1.3rem;
    background-color: #efeeee;
    width:100%;
    height: 2rem;
    border: none;
    outline:0;
    color: rgb(167, 167, 167);
    font-weight:900;
    border-radius: 0.5rem;
}

.input::placeholder { 
    color: rgba(124, 123, 123, 0.307);
    font-style: italic; 
}

.styledbutton{
    color: white;
    font-weight:900;
    margin-top: 3rem;
    width: 12rem;
    height: 3rem;
    background-color: #F9D57D;
    border:none; 
    outline:0;
    border-radius: 2rem;
    transition: all 0.3s ease-in-out;
}

.styledbutton:hover{
    transform: scale(1.05);
    background-color: #f8c23a;
}