.head {
  width: fit-content;
  height: fit-content;
  padding: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    'proyecto frente suministro enviar'
    'fecha lugar proveedor  enviar';
}

.head select {
  font-size: 15px;
  border: none;
  height: auto;
  font-weight: 900;
  border-radius: 0.5rem;
  padding: 0.5rem;
  color: var(--font-ligth);
  background-color: var(--card-color);
  margin-top: 1rem;
}

.head select option:hover {
  background-color: brown;
}

.head input {
  font-size: 15px;
  border: none;
  height: auto;
  font-weight: 900;
  border-radius: 0.5rem;
  padding: 0.5rem;
  color: var(--font-ligth);
  background-color: var(--card-color);
  margin-top: 1rem;
}

.proyecto {
  grid-area: proyecto;
  margin: 0.5rem;
}
.frente {
  grid-area: frente;
  margin: 0.5rem;
}
.suministro {
  grid-area: suministro;
  margin: 0.5rem;
}
.fecha {
  grid-area: fecha;
  margin: 0.5rem;
}
.lugar {
  grid-area: lugar;
  margin: 0.5rem;
}
.proveedor {
  grid-area: proveedor;
  margin: 0.5rem;
}
.enviar {
  grid-area: enviar;
  display: flex;
  align-items: center;
  justify-content: center;
}
.enviar button {
  background-color: var(--accent-color);
  border: none;
  width: 70%;
  padding: 0.8rem;
  border-radius: 1rem;
  transition: all 0.2s ease-in-out;
  color: var(--font-dark);
  font-weight: 900;
}

.enviar button:hover {
  background-color: var(--accent-hover-color);
  transform: scale(1.05);
}

/*table*/

.table {
  color: var(--font-dark);
  margin: 1.5rem;
  width: calc(100% - 3rem);
  border-spacing: 0;
  border-radius: 1.5rem;
  background-color: white;
}

.table td {
  text-align: center;
  font-size: 12px;
}

.table th {
  background-color: var(--card-color);
  color: var(--font-ligth);
}
.table tr {
  height: 3rem;
  transition: all 0.2s ease-in-out;
}

.rowGenerator:hover {
  transform: scale(1.01);
  position: relative;
  box-shadow: -9px 10px 10px -3px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
}

.table tr:nth-child(odd) {
  background-color: #f9f9f9;
}

.table tr:nth-child(even) {
  background-color: white;
}
.table th:first-child {
  width: 10%;
}

.table th:nth-child(2) {
  width: 10%;
}
.table th:nth-child(3) {
  width: 30%;
}
.table th:nth-child(4) {
  width: 10%;
}

.table th:nth-child(5) {
  width: 10%;
}

.table th:nth-child(6) {
  width: 10%;
}

.table th:nth-child(7) {
  width: 10%;
}

.table th:nth-child(8) {
  width: 10%;
}

.button {
  margin-top: 1rem;
  margin-bottom: 2rem;
  margin-left: 3rem;
  padding: 0.5rem 2rem 0.5rem 2rem;
  border-radius: 2rem;
  border: none;
  background-color: var(--accent-color);
  color: var(--font-dark);
  font-weight: 900;
}

/*estilos de rows generadas*/

.inputsRow {
  font-size: 12px;
  width: 90%;
  border: none;
  background-color: var(--global-bg);
  border-radius: 0.5rem;
  padding-left: 0.7rem;
  padding-right: 0.7rem;
  text-align: center;
}

.modos:nth-child(1) {
  background-color: rgb(150, 1, 1);
  border: none;
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
}

.modos i {
  color: var(--font-ligth);
  font-weight: 900;
  font-size: 12px;
  margin: 0.3rem;
  padding: 0.5rem;
}

.modos i:first-child {
  color: rgb(117, 0, 0);
  font-size: 20px;
  font-weight: 900;
  border-radius: 50%;
  transition: all 0.25s ease-in-out;
}

.modos i:last-child {
  color: rgb(0, 62, 133);
  border-radius: 50%;
  font-size: 20px;
  font-weight: 900;
  transition: all 0.25s ease-in-out;
}

.modos i:first-child:hover {
  transform: scale(1.15);
  color: rgb(202, 0, 0);
}

.modos i:last-child:hover {
  transform: scale(1.15);
  color: rgb(23, 131, 255);
}

.check i {
  color: rgb(0, 148, 32);
  border-radius: 50%;
  font-size: 29px;
  font-weight: 900;
  transition: all 0.25s ease-in-out;
}

.check i:hover {
  transform: scale(1.15);
  color: rgb(1, 255, 56);
}
