.container {
  width: 22rem;
  height: 11rem;
  background-color: var(--card-color);
  border-radius: 1rem;
  padding: 0.8rem;
  color: var(--font-ligth);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 0.5fr 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    'proveedor proveedor proveedor proveedor proveedor'
    'contacto contacto telefono correo correo'
    'rfc rfc direccion direccion direccion';
}

.edit {
  margin-left: 0.4rem;
  border: none;
  border-radius: 50%;
  padding: 0rem 0.1rem 0rem 0.1rem;
  background-color: #553e4c;
  transition: all 0.3s ease-in-out;
}
.edit i {
  font-size: 20px;
  color: var(--font-ligth);
}

.edit:hover {
  transform: scale(1.05);
  background-color: #6e5063;
}

.delete {
  margin-left: 0.4rem;
  border: none;
  border-radius: 50%;
  padding: 0rem 0.1rem 0rem 0.1rem;
  background-color: #7c0000;
  transition: all 0.3s ease-in-out;
}
.delete i {
  font-size: 20px;
  color: var(--font-ligth);
}

.delete:hover {
  transform: scale(1.05);
  background-color: #a70000;
}

.proveedor {
  font-size: 15px;
  font-weight: 900;
  grid-area: proveedor;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contacto {
  font-size: 10px;
  grid-area: contacto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.telefono {
  font-size: 10px;
  grid-area: telefono;
  display: flex;
  justify-content: center;
  align-items: center;
}

.correo {
  font-size: 10px;
  grid-area: correo;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rfc {
  font-size: 10px;
  grid-area: rfc;
  display: flex;
  justify-content: center;
  align-items: center;
}

.direccion {
  font-size: 10px;
  grid-area: direccion;
  display: flex;
  justify-content: center;
  align-items: center;
}
